<%######################################## 
# 2020.05.09
# 
# test용 contents
###########################################%>

<h5>
    Test contents in ejs
</h5>
<ul>
    <% if(contents){ %>
        <% for(let property in contents){ %>
            <li>
                <%= property + ": " + contents[property] %>
            </li>
        <% } %>
    <% }else{ %>
        <%= 'no contents' %>
    <% } %>
 </ul>